<div class="mat-app-background" style="min-height: 100vh">
  <mat-toolbar style="height: 64px">
    <span>corona.rohmer.rocks</span>
    <span class="spacer"></span>
    <app-portal-host slot="toolbar.right" (click)="onToolbarRightClick()"></app-portal-host>
  </mat-toolbar>
  <mat-progress-bar *ngIf="loadingService.isLoading$|async" mode="indeterminate"></mat-progress-bar>
  <app-sidenav [(open)]="sidebarOpen">
    <router-outlet></router-outlet>
  </app-sidenav>
</div>
