<mat-form-field class="example-chip-list">
  <mat-label>Regierungsbezirke</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip
      *ngFor="let chip of chips$|async"
      [selectable]="true"
      [removable]="true"
      (removed)="removeSelected(chip.label)"
      [style.background-color]="chip.color"
    >
      {{chip.label}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      [formControl]="form"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addSelected($event.value); form.setValue(null)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addSelected($event.option.viewValue); form.setValue(null)">
    <mat-option *ngFor="let label of autocompleteValues$|async" [value]="label">
      {{label}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
