<div>
  <app-districts-filter [districts]="districts"
                        [selected]="selected"
                        (selectedChange)="selected = $event"
  ></app-districts-filter>
</div>
<div>
  <app-resolution-filter [resolution]="resolution"
                         (resolutionChange)="resolution = $event"
  ></app-resolution-filter>
</div>
<div>
  <app-time-filter #timeFilter
                   [start]="start"
                   (startChange)="start = $event"
  ></app-time-filter>
</div>

<button mat-button
        [disabled]="!timeFilter.isValid"
        (click)="onSubmit(timeFilter.isValid)">
    übernehmen
</button>
