<label>Auflösung</label>
<mat-button-toggle-group name="aufloesung"
                         aria-label="Auflösung"
                         [ngModel]="resolution"
                         (ngModelChange)="resolutionChange.emit($event)">
  <mat-button-toggle value="day">Täglich</mat-button-toggle>
  <mat-button-toggle value="hour">Stündlich</mat-button-toggle>
</mat-button-toggle-group>
