.fab-container {
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 100;
}
mat-sidenav {
  max-width: 50vw;
  width: 750px;
  @media (max-width: 1500px) {
    width: 500px;
  }
  @media (max-width: 1000px) {
    max-width: 90vw;
    width: 500px;
  }
}
