<mat-sidenav-container (backdropClick)="close()"
                       [style.min-height]="'calc(100vh - ' + topGap + 'px)'"
>
  <mat-sidenav #sidenav
               disableClose
               position="end"
               [fixedInViewport]="mobileQuery.matches"
               [fixedTopGap]="topGap"
               [opened]="open"
               [mode]="mobileQuery.matches ? 'over' : 'side'"
               (closed)="close()"
               (keydown.escape)="close()"
  >
    <div class="container">
      <app-portal-host slot="sidenav.drawer"></app-portal-host>
    </div>
  </mat-sidenav>
  <mat-sidenav-content
    [style.min-height]="'calc(100vh - ' + topGap + 'px)'"
  >
    <div class="container">
      <ng-content></ng-content>
    </div>
    <div class="fab-container"
         [style.top]="'calc(100vh - 56px - 30px - ' + topGap + 'px)'"
    >
      <app-portal-host slot="sidenav.content.fab"></app-portal-host>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
