<ng-container *ngIf="!loading">
  <ng-template appPortalSlot="sidenav.content.fab">
    <button mat-fab color="primary" (click)="load$.next()">
      <mat-icon>refresh</mat-icon>
    </button>
  </ng-template>
  <ng-template appPortalSlot="toolbar.right">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>filter_alt</mat-icon>
    </button>
  </ng-template>
  <ng-template appPortalSlot="sidenav.drawer">
    <app-filter [districts]="districts"
                [selected]="selected$|async"
                [resolution]="resolution$|async"
                [start]="start$|async"
                (change)="navigate($event)"
    ></app-filter>
  </ng-template>
  <mat-accordion multi>
    <mat-expansion-panel *ngFor="let metric of METRICS; let i = index"
                         [expanded]="i === 0"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{metric.value}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-chart [districts]="districts"
                   [metric]="metric.key"
                   [resolution]="resolution$|async"
                   [selected]="selected$|async"
        ></app-chart>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
