<mat-form-field appearance="fill">
  <mat-label>Start</mat-label>
  <input matInput
         [matDatepicker]="startPicker"
         [errorStateMatcher]="startErrorMatcher"
         [ngModel]="start"
         (ngModelChange)="onStartChange($event)"
         [max]="dateValidator.maxDate"
         [min]="dateValidator.minDate"
  >
  <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
  <mat-datepicker #startPicker></mat-datepicker>
  <mat-error *ngIf="!(start|isNotBeforeValid)">
    Wert kann nicht vor dem 10.12.2020 liegen.
  </mat-error>
  <mat-error *ngIf="!(start|isNotAfterToday)">
    Wert darf nicht in der Zukunft liegen.
  </mat-error>
</mat-form-field>
